@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* h1 {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  * h1 {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  * h1 {
    font-size: 30px;
  }
}

* h2 {
  font-size: 72px;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  * h2 {
    font-size: 28px;
  }
}

@media (max-width: 375px) {
  * h2 {
    font-size: 20px;
  }
}

* h3 {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  * h3 {
    font-size: 22px;
  }
}

@media (max-width: 375px) {
  * h3 {
    font-size: 18px;
  }
}

* h4 {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  * h4 {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  * h4 {
    font-size: 16px;
  }
}

* .text-8xl {
  font-size: clamp(32px, 6.7vw, 96px);
  line-height: 1;
}

* .text-7xl {
  font-size: clamp(30px, 5vw, 72px);
  line-height: 1;
}

* .text-6xl {
  font-size: clamp(22px, 4.2vw, 60px);
  line-height: 1;
}

* .text-5xl {
  font-size: clamp(20px, 3.3vw, 48px);
  line-height: 1;
}

* .text-4xl {
  font-size: clamp(18px, 2.5vw, 36px);
  line-height: 2.5rem;
}

* .text-3xl {
  font-size: clamp(16px, 2vw, 30px);
  line-height: 2.25rem;
  font-weight: 600;
}

* .text-2xl {
  font-size: clamp(16px, 1.7vw, 22px);
  line-height: 2rem;
  font-weight: 400;
}

* .text-xl {
  font-size: clamp(16px, 1.4vw, 20px);
  line-height: 1.75rem;
  font-weight: 400;
}

* .text-lg {
  font-size: clamp(16px, 1.25vw, 18px);
  line-height: 1.75rem;
  font-weight: 400;
}

* .text-base {
  font-size: clamp(16px, 1vw, 16px);
  line-height: 1.5rem;
  font-weight: 400;
}

* .color-y {
  color: #f1ce7e;
}

* .color-w {
  color: #fff;
}

* .border {
  border-radius: 40px;
  margin: 50px 0 0 0;
  padding: 10px;
  border: 2px solid #fff;
  display: inline-block;
}

@media (max-width: 375px) {
  * .border {
    margin: 20px 0 0 0;
  }
}

* a {
  text-decoration: none;
  outline: none;
}

body {
  position: relative;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
  background-color: #177f7c;
}

body .outerWrap {
  position: relative;
  overflow: hidden;
}

body .outerWrap .bg {
  position: relative;
  padding: 1% 0;
}

body .outerWrap .bg::after {
  content: '';
  background: url(../img/kv.jpg) top center/cover no-repeat;
  padding: 25% 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

body .outerWrap .bg .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 30px auto 100px;
}

@media (max-width: 420px) {
  body .outerWrap .bg .banner {
    margin: 20px auto;
  }
}

@media (max-width: 767px) {
  body .outerWrap .bg .banner .logo {
    width: 140px;
  }
}

@media (max-width: 420px) {
  body .outerWrap .bg .banner .logo {
    width: 70px;
  }
}

body .outerWrap .bg .banner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 420px) {
  body .outerWrap .bg .banner .links {
    display: block;
  }
}

body .outerWrap .bg .banner .links .organized, body .outerWrap .bg .banner .links .implement {
  margin: 0 20px;
}

@media (max-width: 767px) {
  body .outerWrap .bg .banner .links .organized, body .outerWrap .bg .banner .links .implement {
    width: 70px;
  }
}

@media (max-width: 420px) {
  body .outerWrap .bg .banner .links .organized, body .outerWrap .bg .banner .links .implement {
    width: 120px;
  }
}

body .outerWrap .bg .banner .links .organized .badge, body .outerWrap .bg .banner .links .implement .badge {
  padding: 0 0 10px 0;
}

@media (max-width: 767px) {
  body .outerWrap .bg .banner .links .organized .badge, body .outerWrap .bg .banner .links .implement .badge {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  body .outerWrap .bg .banner .links .organized .badge, body .outerWrap .bg .banner .links .implement .badge {
    display: none;
  }
}

body .outerWrap .bg .banner .links .organized .badgeBox, body .outerWrap .bg .banner .links .implement .badgeBox {
  -webkit-box-align: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .outerWrap .bg .banner .links .organized .badgeBox a, body .outerWrap .bg .banner .links .implement .badgeBox a {
  margin: 0 10px 0 0;
}

body .outerWrap .bg .subtitle {
  width: 90%;
  margin: 0 auto;
}

body .outerWrap .bg .subtitle .subtitleBox {
  position: relative;
}

body .outerWrap .bg .subtitle .subtitleBox .subhead {
  margin: 50px 0 0 0;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 45px;
  padding: 10px 20px;
}

body .outerWrap .bg .subtitle .date {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  body .outerWrap .bg .subtitle .date {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 420px) {
  body .outerWrap .bg .subtitle .date {
    margin: 20px 0 0 0;
  }
}

body .outerWrap .bg .subtitle .date .day {
  margin: 0 40px 0 0;
  position: relative;
}

body .outerWrap .bg .subtitle .date .day::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
  width: 4px;
  height: 80%;
  background-color: #fff;
}

body .outerWrap .form {
  margin: 0 auto;
  font-size: 30px;
}

@media (max-width: 1200px) {
  body .outerWrap .form {
    font-size: 22px;
  }
}

@media (max-width: 420px) {
  body .outerWrap .form {
    margin: 20px 0 0 0;
  }
}

body .outerWrap .form .title {
  text-align: center;
  margin: 40px 0;
}

@media (max-width: 767px) {
  body .outerWrap .form .title {
    margin: 20px 0;
  }
}

body .outerWrap .form .formBox .type, body .outerWrap .form .formBox .course {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  body .outerWrap .form .formBox .type, body .outerWrap .form .formBox .course {
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  body .outerWrap .form .formBox .type, body .outerWrap .form .formBox .course {
    width: 90%;
    font-size: 12px;
    padding: 10px 0;
  }
}

body .outerWrap .form .formBox .type::after, body .outerWrap .form .formBox .course::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
}

body .outerWrap .form .formBox .type .time, body .outerWrap .form .formBox .course .time {
  width: 20%;
  text-align: left;
  padding: 0 0 0 50px;
  line-height: 1.8;
}

@media (max-width: 1200px) {
  body .outerWrap .form .formBox .type .time, body .outerWrap .form .formBox .course .time {
    width: 15%;
    padding: 0;
  }
}

body .outerWrap .form .formBox .type .time span, body .outerWrap .form .formBox .course .time span {
  position: relative;
}

body .outerWrap .form .formBox .type .time span::after, body .outerWrap .form .formBox .course .time span::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  width: 3px;
  height: 30%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .outerWrap .form .formBox .type .timecenter, body .outerWrap .form .formBox .course .timecenter {
  position: relative;
  top: -80px;
}

body .outerWrap .form .formBox .type .topic, body .outerWrap .form .formBox .course .topic {
  width: 30%;
  text-align: center;
}

body .outerWrap .form .formBox .type .topic img, body .outerWrap .form .formBox .course .topic img {
  width: 30%;
}

@media (max-width: 1200px) {
  body .outerWrap .form .formBox .type .topic, body .outerWrap .form .formBox .course .topic {
    width: 50%;
  }
}

body .outerWrap .form .formBox .type .speaker, body .outerWrap .form .formBox .course .speaker {
  width: 100%;
  text-align: left;
}

@media (max-width: 1200px) {
  body .outerWrap .form .formBox .type .speaker, body .outerWrap .form .formBox .course .speaker {
    width: 50%;
  }
}

@media (max-width: 420px) {
  body .outerWrap .form .formBox .type .speaker, body .outerWrap .form .formBox .course .speaker {
    width: 30%;
  }
}

body .outerWrap .form .formBox .type .topic-wide, body .outerWrap .form .formBox .course .topic-wide {
  width: 70%;
}

@media (max-width: 1200px) {
  body .outerWrap .form .formBox .type .topic-wide, body .outerWrap .form .formBox .course .topic-wide {
    width: 50%;
  }
}

body .outerWrap .form .formBox .type .speaker-wide, body .outerWrap .form .formBox .course .speaker-wide {
  width: 80%;
  text-align: center;
  position: relative;
}

body .outerWrap .form .formBox .type .speaker-wide::before, body .outerWrap .form .formBox .course .speaker-wide::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 110%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1200px) {
  body .outerWrap .form .formBox .type .speaker-wide, body .outerWrap .form .formBox .course .speaker-wide {
    width: 50%;
  }
}

body .outerWrap .form .formBox .type .speaker-wide img, body .outerWrap .form .formBox .course .speaker-wide img {
  width: 20%;
}

body .outerWrap .form .formBox .course::after {
  display: none;
}

body .outerWrap .form .formBox .type-bottom {
  position: relative;
  border-bottom: 1px solid #fff;
}

body .outerWrap .map {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  body .outerWrap .map {
    display: block;
  }
}

body .outerWrap .map .textBox {
  position: relative;
  top: 0;
  left: 0;
}

body .outerWrap .map .textBox .add {
  margin: 50px auto;
  color: #fff;
  padding: 0 0 0 50px;
  position: relative;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

body .outerWrap .map .textBox .add::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  width: 5px;
  height: 90%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

body .outerWrap .map .textBox .add .text-8xl {
  line-height: 1.2;
}

body .outerWrap .map .textBox .add .text-4xl {
  line-height: 1.2;
  padding: 0 0 0 5px;
  letter-spacing: 0.5px;
}

body .outerWrap .map .textBox .add .text-6xl {
  line-height: 1.2;
  letter-spacing: 1px;
}

body .outerWrap .map .mapBox {
  position: relative;
  width: 90%;
  margin: 0 auto;
  top: -100px;
}

body .outerWrap .map .mapBox img {
  width: 100%;
}

body .outerWrap .trademarks {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .outerWrap .trademarks .trademark {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px auto;
  position: relative;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  body .outerWrap .trademarks .trademark {
    margin: 30px auto;
  }
}

@media (max-width: 420px) {
  body .outerWrap .trademarks .trademark {
    margin: 0 auto;
  }
}

body .outerWrap .trademarks .trademark .button {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  body .outerWrap .trademarks .trademark .button {
    width: 80%;
  }
}

@media (max-width: 420px) {
  body .outerWrap .trademarks .trademark .button {
    width: 80%;
  }
}

body .outerWrap .twmt {
  position: relative;
  background: url(../img/twmt.jpg) center center/cover no-repeat;
  width: 90%;
  padding: 150px 0;
  margin: 50px auto;
}

@media (max-width: 420px) {
  body .outerWrap .twmt {
    width: 95%;
  }
}

body .outerWrap .twmt .Img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerWrap .twmt .Img img {
  width: 50%;
}

@media (max-width: 1200px) {
  body .outerWrap .twmt .Img img {
    width: 80%;
  }
}

@media (max-width: 420px) {
  body .outerWrap .twmt .Img img {
    width: 100%;
  }
}

body .outerWrap .footer {
  position: relative;
}

body .outerWrap .footer .tree {
  width: 100%;
}

body .outerWrap .footer .tree img {
  width: 100%;
}

body .outerWrap .footer .consult {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .outerWrap .footer .consult .Txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  background-color: #212529;
  color: #fff;
  border-radius: 25px;
  text-align: center;
  margin: 0 auto 40px;
  width: 90%;
}

@media (max-width: 420px) {
  body .outerWrap .footer .consult .Txt {
    padding: 0px;
    width: 70%;
    margin: 0 auto 10px;
  }
}

body .outerWrap .footer .consult .Img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

@media (max-width: 420px) {
  body .outerWrap .footer .consult .Img {
    width: 60%;
  }
}

body .outerWrap .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

body .outerWrap .overlay .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}

body .outerWrap .overlay .popup .header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  -webkit-box-shadow: 0 1px 1px #f2f2f2;
          box-shadow: 0 1px 1px #f2f2f2;
  background-color: #242424;
}

body .outerWrap .overlay .popup .header .close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: #242424;
}

body .outerWrap .overlay .popup .header .close::before, body .outerWrap .overlay .popup .header .close::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: #FFF;
}

body .outerWrap .overlay .popup .header .close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .outerWrap .overlay .popup .header .close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .outerWrap .overlay .popup .header .close:target {
  visibility: visible;
  opacity: 1;
}

body .outerWrap .overlay .popup .wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  overflow: scroll;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  body .outerWrap .overlay .popup .wrap {
    padding: 20px 0;
  }
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap {
    height: 520px;
    padding: 10px;
  }
}

body .outerWrap .overlay .popup .wrap .company {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 180px;
  overflow: hidden;
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap .company {
    width: 20%;
    right: 5px;
  }
}

body .outerWrap .overlay .popup .wrap .company img {
  width: 100%;
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap .company-small {
    width: 15%;
  }
}

body .outerWrap .overlay .popup .wrap .context {
  position: relative;
  margin: 50px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

@media (max-width: 1200px) {
  body .outerWrap .overlay .popup .wrap .context {
    margin: 10px 0;
  }
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap .context {
    margin: 20px 0;
  }
}

@media (max-width: 375px) {
  body .outerWrap .overlay .popup .wrap .context {
    margin: 20px 0;
  }
}

body .outerWrap .overlay .popup .wrap .context .booth {
  color: #888888;
}

body .outerWrap .overlay .popup .wrap .context .name {
  margin: 30px 0;
  font-weight: bold;
}

@media (max-width: 1200px) {
  body .outerWrap .overlay .popup .wrap .context .name {
    margin: 10px 0;
  }
}

body .outerWrap .overlay .popup .wrap .context .feature {
  list-style: none;
}

body .outerWrap .overlay .popup .wrap .context .feature .text-3xl {
  line-height: 1.5;
  font-weight: normal;
  color: #888888;
}

body .outerWrap .overlay .popup .wrap .machine {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap .machine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .outerWrap .overlay .popup .wrap .machine .Img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap .machine .Img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px auto;
  }
}

body .outerWrap .overlay .popup .wrap .machine .Img .verticalImg {
  width: 50%;
  margin: 0 auto;
}

body .outerWrap .overlay .popup .wrap .machine .Img-right {
  margin-right: 80px;
}

@media (max-width: 420px) {
  body .outerWrap .overlay .popup .wrap .machine .Img-right {
    margin-right: auto;
  }
}

body .outerWrap .overlay .popup .wrap .machine-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .outerWrap .visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */